//====================================================================================================
.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--color-light-gray);
  // .footer__container

  &__container {}

  // .footer__body

  &__body {
    display: grid;
    text-align: center;
    gap: 30px;
    @media (min-width:$mobile){
      grid-template-columns: 1fr auto;
    }
  }

  // .footer__text

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    
    p {
      max-width: 70%;
    }
  }

  // .footer__right

  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width:$tablet){
      padding-right: 100px; 
    }
  }

  

  // .footer__location
  &__location {}

  // .footer__phone-number

  &__phone-number {
    margin-bottom: 25px;
  }

  // .footer__contacts
  &__contacts {
    margin-bottom: 10px;
  }

  // .footer__email
  &__email {}
}

.email {
  color: var(--blue-color);
}


//====================================================================================================




//====================================================================================================




//====================================================================================================




//====================================================================================================




//====================================================================================================




//====================================================================================================




//====================================================================================================




//====================================================================================================




//====================================================================================================




//====================================================================================================



